.login-container,
.signup-container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.buttons {
  background-color: #245984;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  color: white;
  transition: 1s;
}

.buttons:hover {
  cursor: pointer;
  background-color: #7cb9e8;
}

.form-links {
  color: #245984;
}
